.container {
  max-width: 52.5rem;
  width: 100%;

  margin: 0 auto;
  @media (max-width: 715px) {
    & header span.category {
      font-size: 1.75rem;
    }
    @media (max-width: 585px) {
      & header span.category {
        font-size: 1.2rem;
      }
      & header {
        gap: 1.5rem;
        flex-direction: column;
      }
    }
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin-top: 2rem;

  span.category {
    display: block;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }

  span.moviesAmount {
    span {
      color: var(--coral);
    }
  }
}

main {
  width: 100%;
  margin-top: 5.625rem;

  .movies-list {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 3rem;
    list-style: none;
    flex-wrap: wrap;
  }
}
