nav.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 18rem;
  height: 100vh;
  width: 100%;
  padding: 2rem;

  position: fixed;
  left: -18rem;
  transition: all 0.3s;

  z-index: 999;

  background: var(--background2);

  > span {
    margin-bottom: 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--coral);

    p {
      display: inline;
      color: var(--white);
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}

nav.sidebar.active {
  left: 0;
}

nav.sidebar .sidebarToggleButton {
  margin-bottom: 2rem;
  position: absolute;
  right: -50px;

  button {
    width: 50px;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    background-color: var(--background2);
  }
  @media (max-width: 375px) {
    right: -50px;
  }
}
